.nav-container {
  height: 90px;
}

.form-amenities {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.form-amenities > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
